<a href="https://colab.research.google.com/github/D1290-Ali/Data-Science/blob/main/DAwPy/Recap/Pandas_Recap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [1,3,5,7,9,18]
data

[1, 3, 5, 7, 9, 18]

In [3]:
pd.DataFrame(data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [4]:
pd.DataFrame(data, columns=["column1"])

   column1
0        1
1        3
2        5
3        7
4        9
5       18

In [5]:
m = np.random.randint(1,24,size=(3,4))

In [6]:
np.arange(1,24,2).reshape(3,4)

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [7]:
df = pd.DataFrame(data = m, columns=["var1","var2","var3","var4"])

In [8]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [9]:
list(df.index)

[0, 1, 2]

In [10]:
df.columns = ["new1", "new2", "new3", "new4"]
df

   new1  new2  new3  new4
0    13    17     8     5
1    21     9     4    20
2    20    17     6    22

In [11]:
df.index = ["a", "b","c"]
df

   new1  new2  new3  new4
a    13    17     8     5
b    21     9     4    20
c    20    17     6    22

In [12]:
df.rename(columns={"new1":"a", "new2":"b"})

    a   b  new3  new4
a  13  17     8     5
b  21   9     4    20
c  20  17     6    22

In [13]:
df.rename(index={"a":"1"})

   new1  new2  new3  new4
1    13    17     8     5
b    21     9     4    20
c    20    17     6    22

In [14]:
df.shape[1]

4

In [15]:
"new2" in df

True

In [16]:
from numpy.random import randn

In [17]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4 ), [i for i in "ABCDE"], 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df3["X"]

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [19]:
type(df3.Y)

pandas.core.series.Series

In [20]:
type(df3[["Z"]])

pandas.core.frame.DataFrame

In [21]:
df3["A":"C"][["X","Y"]]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813

In [22]:
df3["new"] = [i for i in"23456"]
df3

          W         X         Y         Z new
A  2.706850  0.628133  0.907969  0.503826   2
B  0.651118 -0.319318 -0.848077  0.605965   3
C -2.018168  0.740122  0.528813 -0.589001   4
D  0.188695 -0.758872 -0.933237  0.955057   5
E  0.190794  1.978757  2.605967  0.683509   6

In [23]:
df3["X*Y"] = df3["X"]*df3["Y"]
df3

          W         X         Y         Z new       X*Y
A  2.706850  0.628133  0.907969  0.503826   2  0.570325
B  0.651118 -0.319318 -0.848077  0.605965   3  0.270806
C -2.018168  0.740122  0.528813 -0.589001   4  0.391387
D  0.188695 -0.758872 -0.933237  0.955057   5  0.708208
E  0.190794  1.978757  2.605967  0.683509   6  5.156577

In [24]:
df3.drop("new", axis=1)

          W         X         Y         Z       X*Y
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [25]:
df3.drop(["Z","X*Y"], axis=1)

          W         X         Y new
A  2.706850  0.628133  0.907969   2
B  0.651118 -0.319318 -0.848077   3
C -2.018168  0.740122  0.528813   4
D  0.188695 -0.758872 -0.933237   5
E  0.190794  1.978757  2.605967   6

In [26]:
df3.drop("E")

          W         X         Y         Z new       X*Y
A  2.706850  0.628133  0.907969  0.503826   2  0.570325
B  0.651118 -0.319318 -0.848077  0.605965   3  0.270806
C -2.018168  0.740122  0.528813 -0.589001   4  0.391387
D  0.188695 -0.758872 -0.933237  0.955057   5  0.708208

In [27]:
m = np.random.randint(1,40, size=(8,4))
df4 = pd.DataFrame(m, index= [i for i in "abcdefgh"],columns = ["var1","var2","var3",'var4'])
df4

   var1  var2  var3  var4
a     8    11    39    10
b    19     8    16     1
c    13    18    12    16
d    34    30    25    37
e    20    36    31    11
f    21    28     9    23
g    27    24    38    23
h    10     3    19    29

In [28]:
df4.loc["a":"e",["var3"]]

   var3
a    39
b    16
c    12
d    25
e    31

In [29]:
df4.loc["a":"d"]["var3"]

a    39
b    16
c    12
d    25
Name: var3, dtype: int64

In [30]:
df4.loc['a':'d'][['var1','var3']]

   var1  var3
a     8    39
b    19    16
c    13    12
d    34    25

In [33]:
import seaborn as sns

In [35]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [36]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
df.shape

(150, 5)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [40]:
df.sample()

    sepal_length  sepal_width  petal_length  petal_width     species
90           5.5          2.6           4.4          1.2  versicolor

In [42]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [44]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [49]:
df.corr()[["sepal_length"]]

              sepal_length
sepal_length      1.000000
sepal_width      -0.117570
petal_length      0.871754
petal_width       0.817941

In [51]:
df["petal_length"].corr(df["petal_width"])

0.9628654314027961

In [52]:
df["petal_width"].corr( df["sepal_width"])

-0.3661259325364393

In [54]:
df["sepal_width"].value_counts()

3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     4
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: sepal_width, dtype: int64

In [56]:
df.mean()["sepal_width"]

3.057333333333334

In [58]:
df.sum(axis=0)

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [59]:
df.sepal_length.sum()

876.5

In [62]:
df.species.nunique()

3

In [67]:
df.loc[df["species"] =="setosa", ["sepal_length"]]

    sepal_length
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0
5            5.4
6            4.6
7            5.0
8            4.4
9            4.9
10           5.4
11           4.8
12           4.8
13           4.3
14           5.8
15           5.7
16           5.4
17           5.1
18           5.7
19           5.1
20           5.4
21           5.1
22           4.6
23           5.1
24           4.8
25           5.0
26           5.0
27           5.2
28           5.2
29           4.7
30           4.8
31           5.4
32           5.2
33           5.5
34           4.9
35           5.0
36           5.5
37           4.9
38           4.4
39           5.1
40           5.0
41           4.5
42           4.4
43           5.0
44           5.1
45           4.8
46           5.1
47           4.6
48           5.3
49           5.0

In [69]:
df[(df["sepal_length"]>4) & (df["sepal_length"]<5)]

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [89]:
df[df["species"]=="setosa"]["sepal_length"].shape

(50,)

In [92]:
df[(df["species"]=="virginica") & (df["sepal_length"]>4) & (df["sepal_length"]<5)]

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [95]:
df.sort_values(by="sepal_length", ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [97]:
df.sort_index(by=)

TypeError: ignored