<a href="https://colab.research.google.com/github/D1290-Ali/Data-Science/blob/main/DAwPy/Recap/Pandas_Recap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [1,3,5,7,9,18]
data

[1, 3, 5, 7, 9, 18]

In [3]:
pd.DataFrame(data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [4]:
pd.DataFrame(data, columns=["column1"])

   column1
0        1
1        3
2        5
3        7
4        9
5       18

In [5]:
m = np.random.randint(1,24,size=(3,4))

In [6]:
np.arange(1,24,2).reshape(3,4)

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [7]:
df = pd.DataFrame(data = m, columns=["var1","var2","var3","var4"])

In [8]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [9]:
list(df.index)

[0, 1, 2]

In [10]:
df.columns = ["new1", "new2", "new3", "new4"]
df

   new1  new2  new3  new4
0     4    11     1    11
1    12    14    18    15
2    16    15     1    15

In [11]:
df.index = ["a", "b","c"]
df

   new1  new2  new3  new4
a     4    11     1    11
b    12    14    18    15
c    16    15     1    15

In [12]:
df.rename(columns={"new1":"a", "new2":"b"})

    a   b  new3  new4
a   4  11     1    11
b  12  14    18    15
c  16  15     1    15

In [13]:
df.rename(index={"a":"1"})

   new1  new2  new3  new4
1     4    11     1    11
b    12    14    18    15
c    16    15     1    15

In [14]:
df.shape[1]

4

In [15]:
"new2" in df

True

In [16]:
from numpy.random import randn

In [20]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4 ), [i for i in "ABCDE"], 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df3["X"]

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [25]:
type(df3.Y)

pandas.core.series.Series

In [27]:
type(df3[["Z"]])

pandas.core.frame.DataFrame

In [32]:
df3["A":"C"][["X","Y"]]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813

In [34]:
df3["new"] = [i for i in"23456"]
df3

          W         X         Y         Z new
A  2.706850  0.628133  0.907969  0.503826   2
B  0.651118 -0.319318 -0.848077  0.605965   3
C -2.018168  0.740122  0.528813 -0.589001   4
D  0.188695 -0.758872 -0.933237  0.955057   5
E  0.190794  1.978757  2.605967  0.683509   6

In [39]:
df3["X*Y"] = df3["X"]*df3["Y"]
df3

          W         X         Y         Z new       X*Y
A  2.706850  0.628133  0.907969  0.503826   2  0.570325
B  0.651118 -0.319318 -0.848077  0.605965   3  0.270806
C -2.018168  0.740122  0.528813 -0.589001   4  0.391387
D  0.188695 -0.758872 -0.933237  0.955057   5  0.708208
E  0.190794  1.978757  2.605967  0.683509   6  5.156577

In [41]:
df3.drop("new", axis=1)

          W         X         Y         Z       X*Y
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [42]:
df3.drop(["Z","X*Y"], axis=1)

          W         X         Y new
A  2.706850  0.628133  0.907969   2
B  0.651118 -0.319318 -0.848077   3
C -2.018168  0.740122  0.528813   4
D  0.188695 -0.758872 -0.933237   5
E  0.190794  1.978757  2.605967   6

In [43]:
df3.drop("E")

          W         X         Y         Z new       X*Y
A  2.706850  0.628133  0.907969  0.503826   2  0.570325
B  0.651118 -0.319318 -0.848077  0.605965   3  0.270806
C -2.018168  0.740122  0.528813 -0.589001   4  0.391387
D  0.188695 -0.758872 -0.933237  0.955057   5  0.708208

In [57]:
m = np.random.randint(1,40, size=(8,4))
df4 = pd.DataFrame(m, index= [i for i in "abcdefgh"],columns = ["var1","var2","var3",'var4'])
df4

   var1  var2  var3  var4
a    36    25    31    23
b    18     5    18    19
c    20    19     8     4
d    35    13    31    21
e     6    10    35     6
f    26    15    29    11
g    12    34    10    21
h    19    31     4    30

In [61]:
df4.loc["a":"e",["var3"]]

   var3
a    31
b    18
c     8
d    31
e    35

In [65]:
df4.loc["a":"d"]["var3"]

a    31
b    18
c     8
d    31
Name: var3, dtype: int64

In [69]:
df4.loc['a':'d'][['var1','var3']]

   var1  var3
a    36    31
b    18    18
c    20     8
d    35    31

In [ ]:
df4.index.na